@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*
    color scheme: #FBAB17, #F6F5F3, #50BBB3
*/

html {
    scroll-behavior: smooth;
  }

* {
   color: #001f3f;
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
}

/* Styling the main container */
#container {
    max-width: 1000px;
    margin:0 auto;
    margin-top: 10vh;
    background-color: #F6F5F3;
    box-shadow: 2px -2px 55px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px -2px 55px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 55px -5px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

@media screen and (max-width: 1000px) {
    #container {
        margin: 0px;
    }
}

/* Styling header section */
header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    align-items: center;
    margin-left: 80px;
}

nav {
    display: flex;
}

.header-link {
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    max-height: 20px;
    transition: 1s;
}

.header-link:hover, .header-link:focus, .header-link:active {
    color: #50BBB3;
    cursor: pointer;
}

#logo {
    width: 220px;
    height: auto;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        margin: 0;
        padding: 10px;
        margin-left: 0px;
    }
}


/* Styling main section */
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 80px;
    margin: 30px 0;
}

.main_image {
    min-width: 300px;
    flex-grow: 1;
    animation-name: moveInleft;
    animation-duration: 1.5s;
}

.main_image>img {
    width: 100%;
    height: auto;
}

.main_text {
    flex-grow: 1;
    padding-left: 25px;
    min-width: 250px;
    animation-name: moveInRight;
    animation-duration: 1.5s;
}

.main_text > h1, h4, p {
    margin: 0px;
}

.main_text > h1 >span {
    text-transform: uppercase;
    color: #FBAB17;
}

.main_text > p {
    font-size: 13px;
}

.main_text > .button {
    margin-top: 15px;
    background-color: #194a7c;
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.5s;
}

.main_text > .button:hover {
    cursor: pointer;
    background-color: #001f3f;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        margin: 0;
        padding: 10px;
    }

    .main_image{
        max-width: 350px;
        margin-bottom: 40px; 
    }
}


/* Styling skills section */
.skills {
    clip-path: polygon(0 5%, 101% 0%, 101% 96%, 0% 100%);
    background-color: #001f3f;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
}

#skills_title {
    font-size: 42px;
    color: #FBAB17;
    margin-bottom: 20px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px 5px;
    background-color: #85144b;
    border-radius: 10px;

}

.card:hover, .cover:focus {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.card img {
    max-width: 100px;
}

.card p, .card li {
    color: #fff;
}

.card h1, .card h3 {
    color: #FBAB17;
}

.card h1 {
    margin: 5px 0px;
}

.card .languages, .card .title, .card .tools {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.card ul {
    list-style-type: none;
}

@media screen and (max-width: 950px) {
    .skills_container {
        clip-path: polygon(0 3%, 101% 0%, 101% 98%, 0% 100%);
    }
}


/* Styling education section */ 
.education {
    padding: 80px 40px;
    text-align: center;
}

.education_contant {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.education img {
    max-width: 350px;
    flex-grow: 1;
}

.education .info {
    text-align: left;
    max-width: 450px;
}

.education ul {
    list-style-type: none;
}

.education li {
    padding: 3px 0;
}

.education h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.education i {
    color: #FBAB17;
    font-size: 25px;
}

@media screen and (max-width: 655px) {
    .education_contant {
        flex-direction: column-reverse;
    }
    .education img {
        margin-bottom: 20px;
    }
}


/* My Works section styling */
.works {
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    padding: 80px 40px;
    text-align: center;
    background-color: #FBAB17;
}

.works_contant {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.works img {
    max-width: 350px;
    flex-grow: 1;
}

.works .info {
    text-align: left;
    max-width: 450px;
}

.works ul {
    list-style-type: none;
}

.works li {
    padding: 3px 0;
}

.works h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.works i {
    font-size: 25px;
}

@media screen and (max-width: 655px) {
    .works_contant {
        flex-direction: column-reverse;
    }
    .works img {
        margin-bottom: 20px;
    }
}

/* Styling contact me section */
.contact {
    margin: 100px;
}

.contact_title {
    text-align: center;
}

.contact_title h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #194a7c;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 350px;
    margin: auto;
    display: block;
  }

  input[type=submit]:hover {
    background-color: #001f3f;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  @media screen and (max-width: 1000px) {
    .contact {
        margin: 5px;
        margin-top: 50px;
    }
}